@model Master_Care_Forslag.Models.HomeViewModel

@{
    ViewBag.Title = Model.SubCategory.UnderKategoriNavn;
}

<div class="breadcrumb-container">
    <nav class="container m-auto responsive">
        <ul class="breadcrumb clearfix">
            <li>
                <a href="/">Forside</a>
            </li>
            <li>
                <a href="/human-handling-bank">Human Handling Bank</a>
            </li>
            <li>
                <a href="/human-handling-bank/@Model.SubCategory.Kategori.KategoriUrl">@Model.SubCategory.Kategori.KategoriNavn</a>
            </li>
            <li>
                <a href="#">@Model.SubCategory.UnderKategoriNavn</a>
            </li>
        </ul>
    </nav>
</div>
<div class=" container m-auto responsive">
    <div class="main_section">
        <div class="main_section_product_header m-bot-50">
            <h1>@Model.SubCategory.UnderKategoriNavn</h1>
        </div>
        <div class="main_section_products grid">
            @foreach (var item in Model.FK_Produkt_UnderkategoriList)
            {
            <div class="main_section_products-container">
                <a href="/human-handling-bank/@Model.SubCategory.Kategori.KategoriUrl/@Model.SubCategory.UnderKategoriUrl/produkt/@item.Produkt.ProduktUrl">
                    <figure class="main_section_products-container-figure">
                        <img src="~/Content/Img/Produktbilleder/@item.Produkt.ProduktImg" alt="@item.Produkt.ProduktNavn" />
                        <figcaption>@item.Produkt.ProduktNavn</figcaption>
                    </figure>
                </a>
                @if (item.Produkt.VariationAntal > 0)
                {
                    <div class="main_section_products-button">
                        <a href="/human-handling-bank/@Model.SubCategory.Kategori.KategoriUrl/@Model.SubCategory.UnderKategoriUrl/produkt/@item.Produkt.ProduktUrl"><i class="icon-basket"></i>Vælg variant</a>
                    </div>
                }
                else
                {
                    <div class="flex">
                        <div class="main_section_products-button flex-grow">
                            <a href="/human-handling-bank/@Model.SubCategory.Kategori.KategoriUrl/@Model.SubCategory.UnderKategoriUrl/produkt/@item.Produkt.ProduktUrl"><i class="icon-basket"></i>Tilføj til kurv</a>
                        </div>
                        <div class="main_section_products-button flex-grow">
                            <a href="/human-handling-bank/@Model.SubCategory.Kategori.KategoriUrl/@Model.SubCategory.UnderKategoriUrl/produkt/@item.Produkt.ProduktUrl"><i class="icon-basket"></i>Vis detaljer</a>
                        </div>
                    </div>
                }

            </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".breadcrumb li:not(:last-child) a").css("color", "#f36f26")
    });
</script>